body {
    animation: cambiarColor 10s infinite alternate;
    transition: background-color 2s;
}

@keyframes cambiarColor {
    0% {
        background-color: #62e1f1;
    }

    /* Rosa */
    25% {
        background-color: #327e3c;
    }

    /* Melocotón */
    50% {
        background-color: #ffe136;
    }

    /* Azul claro */
    75% {
        background-color: #6edde0;
    }

    /* Celeste */
    100% {
        background-color: #ececec;
    }

    /* Rosa claro */
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}